/* #region General Settings */
body
{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.main-container
{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

/* #endregion General Settings */


/* #region Left Container Settings */
.left-image-container
{
    margin-right: 1.5rem;
}
/* #endregion Left Container Settings */

/* #region Right Container Settings */

.text-logo
{
    width: 300px;
}

.insta-brand-image
{
    width: 450px;
}

.right-form-container
{
    margin-left: 1.5rem;
}

.insta-text-logo
{
    text-align: center;
    margin-bottom: 2rem;
}

/* #region Right Log In Container Settings */
.log-in-container
{
    border: 1px solid rgb(223, 223, 233);
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: white;
}

.input-container
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.username-input, .password-input
{
    padding: 1rem;
    border: 1px solid rgb(223, 223, 233);
    border-radius: 4px;
    font-size: 1rem;
}

.username-input
{
    margin-bottom: 0.5rem;
}

.log-in-btn
{
    background-color: #3095f3;
    color: white;
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.or-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr{
    width: 100px;
    border: 1px solid rgb(223, 223, 233);
}
.or-text-container p
{
    text-transform: uppercase;
    color: rgb(104, 104, 104);
}

.fa-facebook-square
{
    color: #3d5a98;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.fb-login
{
    text-align: center;
    margin-bottom: 2rem;
}

.fb-text
{
    text-decoration: none;
    font-size: 1.2rem;
    color: #3d5a98;
}

.forgot-pass-container
{
    text-align: center;
}

.forgot-pass-container a
{
    text-decoration: none;
    color: #3d5a98;
}
/* #endregion Right Log In Container Settings */

/* #region Right Sign Up Container Settings */
.sign-up-container
{
    background-color: white;
    padding: 0.5rem;
    border: 1px solid rgb(223, 223, 233);
    text-align: center;
}

.sign-up-container a{
    text-decoration: none;
    color: #3d5a98;
}
/* #endregion Right Sign Up Container Settings */

/* #endregion Right Container Settings */

/* #region Footer Container */
.footer-1, .footer-2, .footer-3
{
    display: flex;
    justify-content: center;
}
.footer-1 a,
.footer-2 a
{
    text-decoration: none;
    margin: 0.5rem 1rem;
    color: rgb(104, 104, 104);
}
.footer-3
{
    color: rgb(104, 104, 104);
    font-size: 1rem;
}

/* #endregion Footer Container */
